main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(231, 231, 231);
}

.map {
  border: 8px solid rgb(214, 48, 42);
  z-index: 0;
  height: 300px;
}
.estado-nome {
  font-weight: bold;
}

.estado-container {
  position: absolute;
  z-index: 100;
  opacity: 0;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.estados-sigla {
  position: absolute;
  color: white;
}

.estado-saiba-mais {
  color: rgba(214, 48, 42);
  font-weight: bold;
}

.map path {
  fill: rgb(73, 73, 73);
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.15s;
}

.map path:hover {
  fill: white;
}

.map .ativo {
  fill: rgb(214, 48, 42);
  position: relative;
  cursor: pointer;
}

@media (min-width: 1027px) {
  main {
    grid-template-columns: 1fr 1fr;
    height: 600px;
    margin-top: 0px;
  }
  .map {
    height: 100%;
  }
}
@media (max-width: 400px) {
}
