figure {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  margin-top: 20px;
  color: white;
  position: relative;
}

figure h1 {
  z-index: 3;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.37);
}

figure::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(214, 48, 42, 1), rgb(117, 22, 19));
  z-index: 1;
  position: absolute;
}

figure::after {
  content: "";
  width: 100%;
  height: 95%;
  position: absolute;
  background-image: url("/src/background/business-copywriter-typing-on-his-modern-laptop-2210x1473.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.fail {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  width: 90%;
  background: linear-gradient(to bottom, rgb(214, 48, 42, 1), rgb(117, 22, 19));
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  color: white;
  max-width: 500px;
}

@media (min-width: 1027px) {
  figure {
    margin-top: 0px;
    text-align: left;
  }
}
